<form method="post" action="{{ path('purchase_request_delete', {'id': purchase_request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase_request.id) }}">
    <button class="btn">Delete</button>
</form>
